html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}


body {
    display: table-cell;
    vertical-align: middle;
	position: relative;
	text-align: center;
	background-color: #691510;
	color: #fff5ee;
	line-height: 24px;
	font-size: 16;
    margin: 0;
    padding: 0;
}


.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

.container{
    width: 80%;
    margin: 0 auto;
    }

header {
    background: #4CAF50;
    }
    
.navbar {
    float: left;
    }

.button {
	font: bold 24 Arial;
	background-color:#EEEEEE;
	padding: 30px 30px 20px;
	border: 1px solid #CCCCCC;
}
.buzzer .button{
		font-size: 30px;
     } 
    

.button {
    display: inline-block;
    padding: 30px 30px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #red;
    background-color: #4CAF50;
    border:none;
    border-radius: 15px;
    box-shadow: 0 2px #999;
    }
    
.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
    }
    



/*.topnav {
    overflow: hidden;
    background-color: #333;    
    }
    
.topnav a {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 94px 20px;
    }
.topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    
.topnav a.active {
    background-color: #4CAF50;
    color: white;
    }
    
topnav img.navbar{
	text-align: right;
	}*/
/* new div that wraps nav and logo
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    * 
    padding on top nav: 20px 94px 20px;
*/
