<!DOCTYPE html>
    <html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Dashboard</title>
            <link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
        </head>

    <body>
    <!-- <nav class="navbar navbar-inverse navbar-fixed-top"> -->
        <!-- <div class="container">
                <div>
                    <a href="/"><img class="navbar" src="{{ url_for('static', filename='pi.png') }}" alt="25" width="110" height="48" align="right"></a>
                </div>
                <div>
                    <a href="{{ url_for('logout') }}"><b>Log Out</a>
                </div>
        </div>
     -->
            <header>
                    <div class="nav">
                        <ul>
                            <li class="logout"><a href="{{ url_for('logout') }}"><b>Log Out</a></li>
                        </ul>
                        <a href="/"><img class="navbar" src="{{ url_for('static', filename='pi.png') }}" alt="25" width="110" height="48" align="right"></a>
                    </div>
            </header>
            <div>
                <style type="text/css">overflow:auto;</style>
               <!-- <img src="/static/pi.png" width="50px" height="50px" alt="Phttp://05d21c34.ngrok.io/ledYellow/oni-JED"> -->
                
                <h1>&nbspSTATUS</h1>
                    {% if led1 == 1 %}
                      <h3> LED ONE: &nbsp ON</h3>
                    {% else %}  
                        <h3> LED ONE: &nbsp OFF</h3>
  
                    {% endif %}
                    {% if led2 == 1 %}
                      <h3> LED TWO: &nbsp ON</h3>
                    {% else %}  
                        <h3> LED TWO: &nbsp OFF</h3>
  
                    {% endif %}
                    
                    
                    {% if buzzer == 1 %}
                      <h3> BUZZER: &nbsp ON</h3>
                    {% else %}  
                        <h3> BUZZER: &nbsp OFF</h3>
  
                    {% endif %}
                <h1>IOT Controller Board</h>
                <div>
                    <h3> LED 1 control: <h3>
                        {% if led1 == 1 %}
                            <a href ="/led1/off" class="button">OFF</a> 
                        {% else %}    
                            <a href ="/led1/on" class="button">ON</a> 
                        {% endif %}
                </div>
                
                <div>
                    <h3> LED 2 control: <h3>
                        {% if led2 == 1 %}
                            <a href ="/led2/off" class="button">OFF</a> 
                        {% else %}    
                            <a href ="/led2/on" class="button">ON</a> 
                        {% endif %}
                </div>
                
                <div>
                    <h3> BUZZER control: <h3>
                        {% if buzzer == 1 %}
                            <a href ="/buzzer/off" class="button">OFF</a> 
                        {% else %}    
                            <a href ="/buzzer/on" class="button">ON</a> 
                        {% endif %}
                </div>
                
            </div>
        
    </body>
</html>
